$color-primary: #603E85;
$color-carouselSelected: #935BFE;
$color-carouselNotSelected: #CBAEFF;
$color-member: #EEAF43;
$color-memberBtn : #FFBA16;

@font-face {
  font-family: 'ExtraBoldOblique';
  src: url(../../resources/fonts/Causten-ExtraBoldOblique.otf);
}

@font-face {
  font-family: 'SemiBoldOblique';
  src: url(../../resources/fonts/Causten-SemiBoldOblique.otf);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}