@import './Globals.scss';

.Home{
  &__FabIcon{
    position: fixed !important;
    bottom: 6em;
    right: 1em;
    color: white !important;
    background-color: $color-ws !important;
    z-index: 1;
    &Message{
      position: fixed !important;
      bottom:1em;
      right: 1em;
      z-index: 1;
    }
  }
  &__container{
    position: absolute;
    top: 11em;
  }
  &__carousel{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 2em;
    &Controller{
      display: flex;
      height: 15px;
      justify-content: center;
    }
    &Dot{
      height: 15px;
      cursor: pointer;
      width: 15px;
      transition: background-color 0.6s ease;
      border-radius: 50%;
      background-color: $color-carouselNotSelected;
      margin-right: 4px;
    }
    &Selected{
      background-color: $color-carouselSelected;
    }
  }
  &__subItemCarousel{
    display: none;
    img{
      width: 100%;
    }
  }
  &__categories{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 2em;
    &Container{
      margin-left: 4em;
      margin-top: 1em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    &SubContainer{
      display: flex;
      align-items: center;
      font-size: 1.2em;
      font-weight: bold;
      width: 12em;
      height: 3.5em;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 2em;
      margin-bottom: 1em;
      img{
        margin-right: .5em;
      }
    }
  }
  &__textCategories{
    font-family: "SemiBoldOblique" !important;
    font-size: 1.5em;
    padding-left: 1em;
    color: $color-primary;
  }
  &__brands{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 2em;
    &Container{
      display: flex;
      justify-content: space-around;
      margin-top: 2em;
    }
    &SubContainer{
      width: 4em;
      display: flex;
      height: 4em;
      border-radius: 50%;
      -webkit-box-shadow: -1px 9px 8px -2px rgb(0 0 0 / 72%);
      box-shadow: -1px 9px 8px -2px rgb(0 0 0 / 72%);
      justify-content: center;
      align-items: center;
      margin-right: 2em;
      cursor: pointer;
      &Text{
        font-size: 1.2em;
        font-weight: bold;
        font-family: 'ExtraBoldOblique'
      }
    }
  }
  &__ProductsContainer{
    display: flex;
    position: relative;
    margin: auto;
    width: 75%;
    margin-top: 6em;
  }
  &__subContainer{
    &Text{
      font-family: 'ExtraBoldOblique';
      font-size: 1.2em;
    }
  }
  @media (max-width: 1440px) {
    &__ProductsContainer{
      width: 100%;
      margin: 0;
    }
    &__FabIcon{
      right: 6em;
      &Message{
        right: 6em;
      }
    }
  }
  
  @media (max-width:1024px) {
    &__ProductsContainer{
      margin-top:4em;
      flex-direction: column;
      align-items: center;
    }
    &__brands{
      &Container{
        flex-direction: column;
        align-items: center;
      }
      &SubContainer{
        margin-bottom: 1.5em;
      }
    }
  }

  @media (max-width:768px) {
    &__container{
      top: 13em;
    }
  }

  @media (max-width:425px){
    &__container{
      top: 20em;
    }
  }
}

.active {
  background-color: $color-carouselSelected;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}