@import './Globals.scss';

.HeaderLayout{
  background-color: $color-primary;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  &__container{
    margin-left: 10em;
    margin-right: 10em;
    padding-bottom: 1em;
  }
  &__Upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  &__TextLeft{
    display: flex;
    &--LeftBar{
      font-family: "Times New Roman" !important;
      margin-right: 1em;
    }
  }
  &__TextRight{
    display: flex;
    font-family: 'SemiBoldOblique';
    color: white;
    p{
      margin-right: 1em !important;
    }
  }
  &__SocialNetworks{
    img{
      cursor: pointer;
    }
  }
  &__Lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__InputText{
    border-radius: 5px;
    border: 0;
    border-color: transparent;
    margin-left: 2em;
    margin-top: 0.5em;
    height: 3em;
    padding: 1em;
    width: 40em;
    padding-left: 35px;
    background-image: url(https://laika.com.co/assets/home/search_icon_mc.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    font-family: 'SemiBoldOblique';
  }
  &__InputText::placeholder{
    color: #BABABA; 
  }
  &__select{
    width: 5em;
    background: transparent;
    border: none;
    /* margin-top: 1em; */
    height: 2em;
    color: white;
    font-family: 'SemiBoldOblique';
    font-size:  15px;
  }
  &__containerLower{
    display: flex;
    align-items: center;
  }
  &__selectContainer{
    display: flex;
    height: 2em;
    margin-top: 8px;
    margin-left: 1em;
    align-items: center;
    cursor: pointer;
    img{
      height: 1.5em;
      margin-right: 8px;
    }
    select{
      vertical-align: middle;
      cursor: pointer;
    }
  }
  &__link{
    display: flex;
    flex-direction: column;
  }
  &__accountLog{
    display: flex;
    color: white;
    cursor: pointer;
  }
  &__accountIcon{
    display: flex;
    align-items: center;
    margin-right: 2em;
    cursor: pointer;
  }
  &__shoppingCartContainer{
    display: flex;
    cursor: pointer;
  }
  &__shoppingCartText{
    background-color: red;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    transform: scale(1) translate(-36%, -60%);
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  &__subMenu{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    padding-top: 1em;
    span{
      color: $color-primary !important;
      font-family: 'SemiBoldOblique' !important;
      font-size:1em !important;
    }
  }
  &__subItem{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__textMember{
    display: flex;
    align-items: center;
    &Second{
      padding-right: 0.5em;
    }
  }
  &__btn{
    display: flex;
    border-radius: 5px;
    background: $color-memberBtn;
    height: 2em;
    align-items: center;
    width: 8em;
    justify-content: center;
  }
  p{
    margin: 0;
  }
  img{
    vertical-align: middle;
  }
  span{
    padding-left: 0.5em;
    font-family: 'ExtraBoldOblique';
    font-size: 14px;
    color: white;
  }
  &__selected{
    border-bottom: 1px solid $color-primary;
    padding-bottom: 3px;
  }

  @media (max-width: 1024px) {
    &__container {
      margin-left: 2em;
      margin-right: 2em;
      padding-bottom: 1em;
      &Lower{
        margin-right: 5em;
      }
    }
    &__Upper {
      justify-content: initial;
      flex-direction: column;
      align-items: center;
    }
    &__Lower{
      justify-content: initial;
      margin: inherit;
    }
    &__TextRight{
      margin-left: 3em;
      align-items: center;
    }
    &__InputText{
      width: 30em;
    }
    &__subMenu{
      justify-content: flex-start;
      padding: 1em 5em;
    }
  }

  @media (max-width: 768px) {
    &__container {
      &Lower{
        margin-right: 2em;
      }
    }
    &__InputText {
      width: 20em;
    }
    &__subMenu {
      font-size: 0.8em;
    }
  }

  @media (max-width: 425px) {
    &__subMenu {
      display: none;
      flex-direction: column;
      align-items: center;
    }
    &__subItem {
      margin-bottom: 0.5em;
    }

    &__TextRight{
      display: none;
    }
    &__TextLeft{
      flex-direction: column;
      align-items: center;
    }
    &__Lower{
      flex-direction: column;
    }
    &__containerLower{
      margin-right: 0;
      flex-direction: column;
    }
    &__container{
      svg{
        color: white;
      }
    }
  }
}

#HeaderLayout{
  &__textMemberSecond{
    color: $color-member !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-carouselSelected;
}