@import './Globals.scss';

.HeaderLayout{
  background-color: $color-primary;
  width: 100%;
  &__container{
    margin-left: 10em;
    margin-right: 10em;
    padding-bottom: 1em;
  }
  &__Upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  &__TextLeft{
    display: flex;
    &--LeftBar{
      font-family: "Times New Roman" !important;
      margin-right: 1em;
    }
  }
  &__TextRight{
    display: flex;
    font-family: 'SemiBoldOblique';
    color: white;
    p{
      margin-right: 1em !important;
    }
  }
  &__SocialNetworks{
    img{
      cursor: pointer;
    }
  }
  &__Lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__InputText{
    border-radius: 5px;
    border: 0;
    border-color: transparent;
    margin-left: 2em;
    margin-top: 0.5em;
    height: 3em;
    padding: 1em;
    width: 78em;
    padding-left: 35px;
    background-image: url(https://laika.com.co/assets/home/search_icon_mc.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    font-family: 'SemiBoldOblique';
  }
  &__InputText::placeholder{
    color: #BABABA; 
  }
  &__select{
    width: 5em;
    background: transparent;
    border: none;
    /* margin-top: 1em; */
    height: 2em;
    color: white;
    font-family: 'SemiBoldOblique';
    font-size:  15px;
  }
  &__containerLower{
    display: flex;
    align-items: center;
  }
  &__selectContainer{
    display: flex;
    height: 2em;
    margin-top: 8px;
    margin-left: 1em;
    align-items: center;
    cursor: pointer;
    img{
      height: 1.5em;
      margin-right: 8px;
    }
    select{
      vertical-align: middle;
      cursor: pointer;
    }
  }
  &__link{
    display: flex;
    flex-direction: column;
  }
  &__accountLog{
    display: flex;
    color: white;
    cursor: pointer;
  }
  &__accountIcon{
    display: flex;
    align-items: center;
    margin-right: 2em;
    cursor: pointer;
  }
  &__shoppingCartContainer{
    display: flex;
    cursor: pointer;
  }
  &__shoppingCartText{
    background-color: red;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    transform: scale(1) translate(-36%, -60%);
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  &__subMenu{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    padding-top: 1em;
    span{
      color: $color-primary !important;
      font-family: 'SemiBoldOblique' !important;
      font-size:1em !important;
    }
  }
  &__subItem{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__textMember{
    display: flex;
    align-items: center;
    &Second{
      padding-right: 0.5em;
    }
  }
  &__btn{
    display: flex;
    border-radius: 5px;
    background: $color-memberBtn;
    height: 2em;
    align-items: center;
    width: 8em;
    justify-content: center;
  }
  p{
    margin: 0;
  }
  img{
    vertical-align: middle;
  }
  span{
    padding-left: 0.5em;
    font-family: 'ExtraBoldOblique';
    font-size: 14px;
    color: white;
  }
  &__selected{
    border-bottom: 1px solid $color-primary;
    padding-bottom: 3px;
  }
}

#HeaderLayout{
  &__textMemberSecond{
    color: $color-member !important;
  }
}